@model List<loaddatamvc.Models.employees>
@{
    ViewBag.Title = "Index";
}

<h2>list of Employees</h2>
<p>@Html.ActionLink("Add new Record","create","Home") </p>

<table>

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.emp_id</td>
            <td>@item.emp_name</td>
            <td>@item.emp_email</td>

            <td>@Html.ActionLink("Details", "details", "Home", new { Id = @item.emp_id }, null) </td>
            <td>@Html.ActionLink("Update", "update", "Home", new { Id = @item.emp_id }, null) </td>
            <td>@Html.ActionLink("Delete", "delete", "Home", new { Id = @item.emp_id }, null) </td>



        </tr>

    }
    
</table>



